#cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
#parent{
    display: flex;
    justify-content: space-evenly;
}
.charts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}