<!-- cards -->
<div id="cards">
    <mat-card>
        <div>
            <app-card 
             bg="red"
             icon="group"
             content="Users"
             total="35607">
            </app-card>
        </div>
    </mat-card>
    <mat-card>
        <div>
            <app-card 
             bg="blue"
             icon="visibility"
             content="Daily Visits"
             total="2567">
            </app-card>
        </div>
    </mat-card>
    <mat-card>
        <div>
            <app-card 
             bg="orange"
             icon="shopping_cart"
             content="Products"
             total="5760">
            </app-card>
        </div>
    </mat-card>
    <mat-card>
        <div>
            <app-card 
             bg="green"
             icon="add_shopping_cart"
             content="Daily Orders"
             total="289">
            </app-card>
        </div>
    </mat-card>
    
  
    
</div>

<br>
<!-- charts -->
<div class="charts">
    <div class="col-6">
        <app-area-chart></app-area-chart>
    </div>
    <div class="col-6">
        <app-pie-chart></app-pie-chart>
    </div>
</div>

<br>

<!-- table -->

<app-table></app-table>