<body>
    

<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="">
                    <span class="icon"><i class="fa-brands fa-discourse "></i></span>
                    <span class="title"><b>Product Metrics</b> </span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><i class="fa-solid fa-house-user "></i> </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="review">
                    <span class="icon"> <i class="fa-solid fa-users "></i></span>
                    <span class="title">Review</span>
                </a>
            </li>
            <li>
                <a routerLink="products">
                    <span class="icon"><i class="fa-brands fa-rocketchat "></i></span>
                    <span class="title">Products</span>
                </a>
            </li>
          
            <!-- <li>
                <a href="">
                    <span class="icon"><i class="fa-solid fa-chart-simple "></i></span>
                    <span class="title">Graph</span>
                </a>
            </li> -->
            <li>
                <a href="">
                    <span class="icon"><i class="fa-solid fa-question "></i></span>
                    <span class="title">Help</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><i class="fa-solid fa-gear"></i></span>
                    <span class="title">Settings</span>
                </a>
            </li>  
            <li>
                <a href="">
                    <span class="icon"><i class="fa-solid fa-address-card "></i></span>
                    <span class="title">About</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>